.added-line {
    background-color: #e6ffed;
}
.added-text {
    background-color: #acf2bd;
}
.removed-line {
    background-color: #ffeef0;
}
.removed-text {
    background-color: #fdb8c0;
}

.loaded-entries-text {
    font-style: italic;
}

.no-changes { 
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.field-disabled {
    text-decoration: line-through;
}

.field-disabled-hover {
    text-decoration: line-through;
    font-style: italic;
}

.field-disabled-hover-remove {
    text-decoration: none;
    font-style: italic;
}

table.result span {
    white-space: pre-wrap;
}

table.result {
    border: 1px solid gray;
    font-family: monospace;
    font-size: 14px;
}

.result-divide {
    margin-top: 2rem;
}

.accept-change-radio {
    float: right;
}

div.accept-change-radio label {
    border-bottom-width: 0px;
}

div.accept-change-radio > .btn-group > .btn-group:not(:last-child) > .btn, div.accept-change-radio > .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 0px;
}

div.accept-change-radio > .btn-group > .btn-group:not(:first-child) > .btn, div.accept-change-radio > .btn-group > .btn:not(:first-child) {
    border-bottom-right-radius: 0px;
}

.change-i-of-n {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -15px;
}

.hidden-table {
    opacity: 0.7;
}

#main-content { 
    top: 40px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 75px;
}

#do-conversion-button {
    display: block;
    line-height: 2;
    width: 33%;
    margin: auto;
}

#upload-form { 
    margin-bottom: 15px;
}

.download-button {
    float: right;
}
