.addedLine {
    background-color: #e6ffed;
}
.addedText {
    background-color: #acf2bd;
}
.removedLine {
    background-color: #ffeef0;
}
.removedText {
    background-color: #fdb8c0;
}

table.result span {
    white-space: pre-wrap;
}

table.result {
    border: 1px solid gray;
    font-family: monospace;
    font-size: 14px;
}

.acceptChangeRadio {
    float: right;
}

div.acceptChangeRadio label {
    border-bottom-width: 0px;
}

div.acceptChangeRadio > .btn-group > .btn-group:not(:last-child) > .btn, div.acceptChangeRadio > .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 0px;
}

div.acceptChangeRadio > .btn-group > .btn-group:not(:first-child) > .btn, div.acceptChangeRadio > .btn-group > .btn:not(:first-child) {
    border-bottom-right-radius: 0px;
}

.changeIofN {
    font-weight: bold;
    padding-left: 50px;
    font-size: 18px;
}

.hiddenTable {
    opacity: 0.6;
}

#mainContent { 
    top: 40px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 75px;
}

#do-conversion-button {
    display: block;
    line-height: 2;
    width: 33%;
    margin: auto;
}

#upload-form { 
    margin-bottom: 15px;
}

.download-button {
    float: right;
}
